[label react-tabs-component/src/App.css] .tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

.resizedTextbox {width: 600px; height: 20px}

.App {
  display: flex;
  flex-direction: column; /* Stack the task containers vertically */
  align-items: center; /* Center align the task containers horizontally */
}

.rtsp-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qr-card {
  display: flex;
  justify-content: space-between; /* Add space between task cards */
  margin-bottom: 16px; /* Add space between task containers vertically */
  border: 1px solid #ddd; /* Add a border to separate tasks visually */
  padding: 16px; /* Add padding for spacing */
  width: 80%; /* Adjust the width as needed */
}